/*
CSS for TOP's Etch-a-Sketch project
coding by: Jake Standley
created: 7/27/2021
*/

html, body {
    height: 100%;
}

button {
    display: grid;
    margin: auto;
}

.container {
    display: grid;
    margin: auto;
    width: 600px;
    height: 600px;
    background: #ebccff;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

div {
    border: 1px solid white;
}